ul{
    width: 100%;
    display: inline-block;
    text-align: center;
    padding:1em;
    height: 3em;
    margin: 0;
    background: #eee;
    border-bottom: solid 2px #ddd;
}
li{
    padding: 1em;
    height: 3em;
    display:inline;
    margin: 0;
    line-height: 3em;
}

root{
    width: 100%;
    padding: 0;
    margin: 0;
}

.app{
    width: 100%;
    padding: 0;
    margin: 0;
}

.container{
    padding-left: 30%;
    padding-right: 30%;
}

a{
    text-underline: none;
    color: #000;
    font-weight: bolder;
}
.img{
    margin-top: 2em;
    height: 2em;
    margin-top: 0.5em;
}